main{
    padding: 0px 15px 15px 15px;
}

.center-p{
    width: 100%;
    text-align: center;
}

.selection-div{
    width: 70%;
    min-height: 650px;
}

.player-div{
    margin-left: 70%;
    padding-top: 80px;
}

.sc-player-frame{
    width: 25vw;
    height: 25vw;
    visibility: hidden;
}